* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #adadad;
  font-family: "Architects Daughter", cursive;
}
h1 {
  background-color: #f7fff7;
  font-size: 40px;
  color: #1a535c;
  text-align: center;
  margin: 5%;
  padding: 10px;
  border: solid #4ecdc4;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px #5c5c5c;
  -moz-box-shadow: 10px 10px 5px 0px #5c5c5c;
  box-shadow: 10px 10px 5px 0px #5c5c5c;
}
input {
  text-overflow: ellipsis;
}
.none-avail {
  font-size: 23px;
}
.control-section {
  text-align: center;
}
.style-controls {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 110px;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.style-controls::-ms-expand {
  display: none;
}
.style-controls:hover {
  border-color: #4ecdc4;
}
.style-controls:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.style-controls option {
  font-weight: normal;
}
.new-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 30px;
  font-family: Georgia;
  color: black;
  font-size: 20px;
  background: #f7fff7;
  padding: 10px 20px 10px 20px;
  border: solid #4ecdc4 2px;
  text-decoration: none;
  margin-right: 20px;
}
.new-button:hover {
  background: #ffe66d;
  text-decoration: none;
}
.item-content {
  margin: 10px;
}
.bookmark-title {
  font-size: 19px;
  margin-left: 5%;
}
.star-rating {
  font-size: 19px;
  float: right;
  margin-right: 5%;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  text-align: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 10px;
}

.content p {
  margin: 3%;
  word-wrap: break-word;
  font-size: 20px;
}

.new-form {
  margin: auto;
  font-size: 25px;
  width: 350px;
}

.style-form-input {
  margin-bottom: 15px;
  display: block;
}

.new-title {
  height: 25px;
}

.new-url {
  height: 25px;
  width: 190px;
}

.new-rating {
  width: 80px;
  height: 25px;
}

.new-description {
  margin-top: 10px;
  width: 300px;
  height: 150px;
}

.submit-new {
  margin-bottom: 25px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 30px;
  font-family: Georgia;
  color: black;
  font-size: 20px;
  background: #f7fff7;
  padding: 10px 20px 10px 20px;
  border: solid #4ecdc4 2px;
  text-decoration: none;
  margin-right: 20px;
}
.submit-new:hover {
  background: #ffe66d;
  text-decoration: none;
}
.submit-button {
  text-align: center;
  margin: auto;
}

.delete-button {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 8px 11px;
  margin-top: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

.delete-button:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
